:root {
  --minHeight: 120dvh
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: white;
}

#root {
 display: flex;
 flex-direction: column;
 justify-content: center;
 max-width: 440px;
}

html {
  display: flex;
  justify-content: center;
  background-color: #242424;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid white;
  padding-bottom: 2rem;
  margin: 1rem;
}

.flex img {
  width: 15vh;
  max-height: 15dvh;
  object-fit: contain;
}

.desc {
  width: 50%;
}

.desc h3 {
  color: orange;
  padding: 1rem 0;
}

.sticky {
  background-color: orange;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: .2rem 0;
  font-size: 2rem;
}

.btn {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  font-size: 150%;
  cursor: pointer;
  background-color: orange;
  align-self: flex-start;
}

.mgbot {
  margin-bottom: 2rem;
}

.toDetails {
  background-color: orange;
  padding: .4rem .6rem;
  border: none;
  margin: .5rem 0;
  border-radius: 1rem;
  cursor: pointer;
}

.home {
  margin-bottom: 3rem;
}

.hans {
  margin-bottom: 3rem;
}

.home p {
  background-color: orange;
  padding: 1rem 0;
  text-align: center;
}

.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--minHeight);
}

.detailImg {
  height: 20em;
}

.detailPage h1 {
  margin: 2rem 0 1rem;
}

.detailPage h2 {
  color: orange;
}

article {
  margin: 1rem 0;
  min-width: 100%;
}

.space {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}